div {
    background-color: red;
    width:50px;
    height: 50px;
}

.is-hidden {
    display: none;
    visibility: hidden;
}

.open-trailer {
    color:blue;
    text-decoration: none;
    background-color: wheat;
}